<a href="https://colab.research.google.com/github/pasecolra/ejercicios_for/blob/main/ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCCION REPETITIVA FOR

In [ ]:
# EJERCICIO 1: MOSTRAR LOS NUMEROS DEL 1 AL 10 SIN USAR FUNCIONES REPETITIVAS

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
#   ejercicio 2: MOSTRAR LOS NUMEROS DEL 1 AL 10 USANDO WHILE

i = 0
while i < 10:
  i=i+1
  print(i)

In [ ]:
# EJERCICIO 3: MOSTRAR LOS NUMMEROS DEL 1 AL 10 USANDO FOR

"""lista=[1,2,3,4,5,6,7,8,9,10]

for i in lista:
  print(i)"""

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

In [ ]:
# EJERCICIO 4: MOSTRAR LOS NUMEROS DEL 1 AL 10 USANDO FOR Y RANGE

for i in range(1,11):
  print(i)

In [ ]:
# EJERCICIO 5: MOSTRAR UNA FRASE 10 VECES USANDO LA FUNCION FOR Y UNA LISTA

lista=[1,2,3,4,5,6,7,8,9,10]

for i in lista:
  print(f"{i} sistemas, el mejor!!!")

In [ ]:
# EJERCICIO 6: MOSTRAR LAS SILAVA INICIAL DE LA SILAVA DE LA SEMANA USANDO FOR Y UNA LISTA CON LA SILAVA INICIAL DEL DIA DE LA SEMANA

dia_semana=["LU","MA","MI","JU","VI","SA","DO"]
for i in dia_semana:
  print(i)

In [ ]:
# EJERCICIO 7: MOSTRAR DIFERENTES LISTA DE DATOS USANDO FOR

lista=[1, 3,4, 9, True, "paul" ,8,"guanenta"]

for i in lista:
  print(i)

In [ ]:
#EJERCICIO 8: MOSTRAR SU NOMBRE LETRA POR LETRA USANDO FOR

nombre=input("ingrese su nombre: ")

for i in nombre:
  print(i)

In [ ]:
# EJERCICIO 9: MOSTRAR SU NOMBRE LETRA POR LETRA USANDO FOR CAMBIANDO POR ASTERISTO LA LETRA "E"

nombre=input("ingrese su nombre: ")

for letra in nombre:
  if letra == "e":
    print("*")
  else:
    print(letra)

In [ ]:
# EJERCICIO 10: INGRESAR SU NOMBRE Y MOSTRARLO EN MAYUSCUL USANDO FOR

nombre=input("ingrese su nombre: ")

for letra in nombre:
  print(letra.upper())

In [ ]:
# EJERCICIO 11: IMPRIMA UNA LISTA DE NUMEROS USANDO FOR Y RANGE 

print("numeros del 0 al 9")
for i in range(10):
  print(i)

print("numeros del 1 al 10")
for i in range(1,11):
  print(i)

print("10 veces la frase")
for i in range(10):
  print("sistemas la mejor")

print("10 veces la frase i= ")
for i in range(10):
  print("i="+str(i))

print("10 veces la frase i= ")
for i in range(10):
  print(f"i= {i}")

print("rango del 7 al 18, incrementando de 4 en 4")
for i in range(7,19,4):
  print(i)

print("conviert rango en lista a, y a la muestra")
a=list(range(1000))
print(a)